#cv  { text-align: center; }
#cv > h1 { font-size: 5em; margin: 0; }
#cv > p { font-size: 2.5em; margin-top: -.5em; }
#cv address { font-size: 1.3em; font-style: normal; }
#cv > div { text-align: left; }
#cv > div > :first-child { text-align: right; margin: 0 2em; }
#cv > div > :first-child > ul { list-style: none; margin: 0; }
#cv ul { margin-left: 2em; }

#cv .flex_container_col > span > :first-child { margin-top: 0; }
#cv .flex_container_col > span > div > :first-child { margin-top: 0; }
#cv .flex_container_col .flex_container_col > :last-child { margin: 0 2em; }
#cv .flex_container_col { justify-content: initial; }

#cv div > :first-of-type h3 { margin-top: 0;}

@media screen and (max-width: 540px) {
  #cv > h1 { font-size: 4em; }
  #cv > p { font-size: 2em; }
  #cv > div > :first-child { text-align: left; margin: 0; }
}

#cv li { font-size: 1.3em; }
#cv h2 { font-size: 1.8em; }


#cv table {
  font-size: 1.3em;
  line-height: 1em;
  display: inline-table;
}
