---
layout: default
title: "projects :: robinlinden.eu"
description: Page which holds a few of my programming projects.
permalink: /projects/
---

<section>
  <h2 id="game-engine" class="text_accent" style="text-align: center;">2D Game Engine</h2>
  <div class="showcase">
    <picture style="display: block; text-align: center; margin-bottom: 1em;">
      <img src="{{ site.baseurl }}/img/2d-game-engine_screenshot_0.jpg" alt="Screenshot from the game in progress.">
    </picture>
    <div>
      <p>This is a technical demonstration of a simple cross-platform 2D game engine I've been working on for a while. I'm temporarily using Cave Story sprites (and trying to mimic its physics pretty closely) to demonstrate what I currently have implemented in the engine. </p>
      <p>Latest game demo (.exe): <a href="{{ site.baseurl }}/dl/game-snapshot.zip" download="game snapshot">http://robinlinden.eu/dl/game-snapshot.zip </a><br>
      <span class="last-edit">Last Updated: January 15th, 2015 :: md5-checksum=<wbr>53c7a21692e7288f80e87ea9c221182d</span></p>
    </div>
  </div>
</section>
<section style="text-align: center;">
  <h2 class="text_accent" style="text-align: center;">Video demonstration</h2>
  <video src="{{ site.baseurl }}/dl/walking_and_jumping.webm" controls style="width: 100%;">
    Here is where a video demonstration of my game engine would be if your browser supported HTML5 video. You're free to <a href="/dl/walking_and_jumping.webm" download>download it</a> if you're interested.
  </video>
</section>
<section>
  <h2 class="text_accent">FizzBuzz</h2>
 {% highlight c %}
#include <stdio.h>

int main(void){
  char* msgs[] = {"\0", "Fizz", "Buzz", "FizzBuzz"};
  unsigned int acc = 810092048;
  unsigned int c;
  for (int i = 1; i <= 100;){
    c = acc & 3;
    if (c) {
      printf("%s\n", msgs[c]);
    } else {
      printf("%d\n", i++);
    }
    acc = acc >> 2 | c << 28;
  }
  return 0;
}
{% endhighlight %}
</section>
