---
layout: default
title: "404 :: robinlinden.eu"
description: You'll end up here if something's gone awry.
permalink: /404.html
---

<section id="error-page">
  <p><span class="text_accent">&nbsp;Error: 404 page not found.&nbsp;</span></p>
</section>
