---
layout: default
title: "blog/archives :: robinlinden.eu"
description: List of every blog post I've ever written for this website.
permalink: /archives/
---

<section>
  <h1>Archives</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%F" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-tags">
        {% for tag in post.tags %}
          <span>{{ tag }} </span>
        {% endfor %}
        </span>
      </li>
    {% endfor %}
  </ul>
</section>
