---
layout: default
title: "changelog :: robinlinden.eu"
description: Things I've recently messed around with on this site.
permalink: /changelog/
---

<section>
  <h1>Changelog</h1>

  <h3>2016-06-12</h3>
  <ul>
    <li>Added impressum.</li>
  </ul>
  <h3>2016-05-17</h3>
  <ul>
    <li>Added blog.</li>
    <li>Fixed contact form that broke when moving from plain html to Jekyll.</li>
    <li>New photo on <a href="{{ site.baseurl }}/about/">about</a> page.</li>
  </ul>
  <h3>2016-05-11</h3>
  <ul>
    <li>Modified website to use the Jekyll static site generator.</li>
    <li>Changed tags used in website for better semantics. E.g. <code>&lt;div id="main"&gt;</code> to <code>&lt;main&gt;</code>. </li>
    <li>Started work of converting CSS to SCSS for more maintainable code.</li>
    <li>Removed inline styles used.</li>
    <li>Fixed broken font-sizes caused by silly inheritances.</li>
    <li>Added syntax highlighting to code displayed on website.</li>
    <li>Put <a href="https://gitlab.com/robinlinden/robinlinden.eu">files used</a> for this site on <a href="https://gitlab.com/u/robinlinden">GitLab</a>.</li>
  </ul>
  <h3>2016-04-11</h3>
  <ul>
    <li>Removed target="_blank" from links. Users can long press/middle-click if they want new tabs.</li>
  </ul>
  <h3>2016-04-07</h3>
  <ul>
    <li>Removed yet more crap from my menus.</li>
  </ul>
  <h3>2016-04-05</h3>
  <ul>
    <li>Cleaned up the menus.</li>
    <li>Switched to a more modern version of Google Analytics. The new one doesn't properly support IE9, but who really cares?.</li>
  </ul>
  <h3>2016-03-04</h3>
  <ul>
    <li>Now linking to <a href="{{ site.baseurl }}/about/travel">/about/travel</a> from the other menu instead of just from the <a href="{{ site.baseurl }}/about">/about</a> page.</li>
    <li>Added <a href="blog.codinghorror.com">Coding Horror</a> from the other menu.</li>
    <li>Edited <a href="{{ site.baseurl }}/cv">CV</a>.</li>
  </ul>
  <h3>2016-01-22</h3>
  <ul>
    <li>Set outgoing links to open in a new tab.</li>
    <li>Removed past astronomical events on the main page.</li>
    <li>Updated copyright notice.</li>
    <li>Removed links to "Learn Python the Hard Way" for being horribly outdated.</li>
    <li>Removed an old identity from my public key.</li>
    <li>Made lists default to a sane colour.</li>
  </ul>
  <h3>2015-12-21</h3>
  <ul>
    <li>Removed a bunch of disclaimers that were not needed.</li>
  </ul>
  <h3>2015-12-20</h3>
  <ul>
    <li>Edited the aesthetics of the CV page.</li>
  </ul>
  <h3>2015-12-19</h3>
  <ul>
    <li>Edited CV page.</li>
  </ul>
  <h3>2015-12-17</h3>
  <ul>
    <li>Rewrote CV page to have the CV as part of the website instead of as an embedded PDF.</li>
  </ul>
  <h3>2015-12-16</h3>
  <ul>
    <li>Edited CV page.</li>
    <li>Optimised the CSS.</li>
  </ul>
  <h3>2015-12-13</h3>
  <ul>
    <li>Added CV page.</li>
  </ul>
  <h3>2015-12-06</h3>
  <ul>
    <li>Added some content to the <a href="{{ site.baseurl }}/about">about me</a> page.</li>
  </ul>
  <h3>2015-12-04</h3>
  <ul>
    <li>Added a FizzBuzz program in C to my <a href="{{ site.baseurl }}/projects">projects page.</a> <span style="color: #737373;">(just to pad it a bit)</span></li>
    <li>Replaced the video demonstration of my <a href="{{ site.baseurl }}/projects#game-engine">game engine.</a></li>
    <li>Added noise to the background of my website.</li>
  </ul>
  <h3>2015-12-02</h3>
  <p>Rewrote the navbar from scratch to get rid of a bunch of ugly hacks and make it work way better on touchscreens.</p>
  <h3>2015-12-01</h3>
  <ul>
    <li>Added this changelog.</li>
    <li>Made <a href="{{ site.baseurl }}/projects">projects page</a> beautiful.</li>
    <li>Added video demonstration of the <a href="{{ site.baseurl }}/projects#game-engine">game engine.</a></li>
    <li>Made the damn menus work in Internet Explorer.</li>
  </ul>
</section>
