---
layout: default
title: "impressum :: robinlinden.eu"
description: Information I'm legally obligated to provide if I do business in Germany, Switzerland, Austria, and the UK.
permalink: /impressum/
---

<section>
	<h1>Impressum</h1>
	<h2>Business and contact info</h2>
	<address>
		Robin Lindén<br>
		Email: <a href="mailto:contact@robinlinden.eu">contact@robinlinden.eu</a><br>
		Phone: <a href="tel:+46734004464">+46 73 400 44 64</a><br>
		<br>
		VAT-number: SE920210287801<br>
	</address>
	<h2>Google Analytics</h2>
	<h3>What does it record?</h3>
	<p>I use Google Analytics on this website. What it collects is stuff like what type of computer you're using, the area you're connecting from, how much time you spend on any given page on my website, from what website you came here, and some other things, nothing of which can be used to identify you.</p>
	<h3>What do I do with that data?</h3>
	<p>Mostly it's just because it's interesting to see from where people are visiting my website. Very occasionally I compile aggregate statistics from the data collected, but no personally identifiable information is in this type of report.</p>
	<p>All activity falls within the bounds of the <a href="http://www.google.com/analytics/tos.html">Google Analytics Terms of Service.</a></p>
	<h3>How do I opt out?</h3>
	<p>If you want to opt out of Google Analytics collecting your data, Google provides opt-out browser add-ons for all recent browsers <a href="https://tools.google.com/dlpage/gaoptout">here.</a>
</section>