---
layout: default
title: "robinlinden.eu :: programming and other interesting things"
description: Personal website of Robin Lindén. Contains programming and other interesting things.
permalink: /
---

<section>
  <p><span class="text_accent">Hi. My name is Robin and this is my website.</span><br>
  This website is heavily under construction. For the time being, do not expect any links to work and expect the website to change on a daily basis. </p>
</section>
<section>
  <p>Current programming project: <a href="{{ site.baseurl }}/projects#game-engine">unnamed cross-platform C++ game engine + tech demo.</a><br>
  Browse all projects <a href="{{ site.baseurl }}/projects">here.</a></p>
</section>
<section>
  <p>Don't know where to go from here? <a href="{{ site.baseurl }}/about">Maybe read a bit about me.</a></p>
</section>
<section>
  <p>Latest game demo (.exe): <a href="{{ site.baseurl }}/dl/game-snapshot.zip">http://robinlinden.eu/dl/game-snapshot.zip </a><br>
  <span class="last-edit">Last Updated: January 15th, 2015 :: md5-checksum=<wbr>53c7a21692e7288f80e87ea9c221182d</span></p>
</section>
<section>
  <p>Haiku from Fight Club to fill the page up a bit while I work out what other content to add here: <br>
  worker bees can leave <br>
  even drones can fly away <br>
  the queen is their slave </p>
</section>
<section>
  <p>This website was created using Vim in Linux. You should feel bad about yourself if you don't use either Vim or Emacs (preferably under Evil-mode to avoid RSI).</p>
</section>
<section>
  <p>Learn HTML over at the <a href="https://developer.mozilla.org">Mozilla Developer Network.</a><span class="out"></span><br>
  Alternatively, you could teach yourself to <a href="https://automatetheboringstuff.com/">automate the boring stuff with Python.</a> But why should you learn to code? Read <a href="https://inventwithpython.com/blog/2014/09/30/no-seriously-why-should-i-learn-to-code/">this.</a><span class="out"></span></p>
</section>
