---
layout: default
title: "sitemap :: robinlinden.eu"
description: List that'll hopefully help visitors find the page they're looking for.
permalink: /sitemap/
---

<section>
  <h1>Sitemap</h1>
  <ul>
    <li><a href="http://robinlinden.eu/">Home</a></li>
    <li>
      <a href="http://robinlinden.eu/about">About me</a>
      <ul>
        <li><a href="http://robinlinden.eu/about/travel">Travel</a></li>
      </ul>
    </li>
    <li>
      <a href="http://robinlinden.eu/cv">Curriculum Vitae</a>
      <ul>
        <li><a href="http://robinlinden.eu/cv/gdocs">Alternative CV (pdf embedded using Google Docs)</a></li>
      </ul>
    </li>
    <li><a href="http://robinlinden.eu/contact">Contact me</a></li>
    <li><a href="http://robinlinden.eu/archives">Blog archives</li>
    <li>
      <!-- <a href="http://robinlinden.eu/blog">Blog</a> -->
      <ul>
        {% for post in site.posts %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="http://robinlinden.eu/projects">Projects</a></li>
    <li>
      <!-- <a href="http://robinlinden.eu/config">Configuration stuff</a> -->
      <ul>
        <li><a href="http://robinlinden.eu/config/pgp">PGP</a></li>
        <li><a href="http://robinlinden.eu/config/vimrc">.vimrc</a></li>
      </ul>
    </li>
    <li><a href="http://robinlinden.eu/changelog">Changelog</a></li>
    <li><a href="http://robinlinden.eu/sitemap">Sitemap</a></li>
  </ul>
</section>
