---
layout: default
title: "contact :: robinlinden.eu"
description: Telegram, Facebook, G+, phone number, and a form that you can use to contact me.
permalink: /contact/

custom_css: font-awesome.min
---


    <section class="flex_container_col">
      <span style="flex: initial; max-width: 60em; min-width: 30em;">
        <h1 class="text_accent">Contact me</h1>
        <form name="email_form" action="{{ site.baseurl }}/php/process_contact_form.php" method="post">
          <label>Your name:<br>
          <input size="35" name="name" autocomplete="name" type="text"></label><br>
          <input name="block_spam_bots" value="1" type="hidden">
          <label>Your email address:<br>
          <input size="35" name="email" autocomplete="email" required type="email"></label><br>
          <label>Subject:<br>
          <input size="40" name="subject" autocomplete="off" required type="text"></label><br>
          <label>Your request or query:<br>
          <textarea name="message" rows="7" cols="79" required style="box-sizing: border-box; margin-right: 5px; min-width: 27em;"></textarea></label><br>
          <p><input style="margin-top: 5px;" class="button" value="Send" onclick="javascript:validateForm()" type="button"></p>
        </form>
      </span>
      <span style="flex: initial; margin: 0.8em; border-left: 2px solid #1A1A1A; padding-left: 10px; white-space: nowrap;">
        <p>
          <a href="https://telegram.me/robinlinden">
            <span class="fa fa-paper-plane text_accent fa-fw" style="font-size: 1.3em; margin-right: .2em;"></span><span style="color: #8C8C8C">telegram.me/robinlinden</span>
          </a>
        </p>
        <p style="margin-top: 10px;">
          <a href="https://www.facebook.com/lindenrobin">
            <span class="fa fa-facebook text_accent fa-fw" style="font-size: 1.3em; margin-right: .2em;"></span><span style="color: #8C8C8C">facebook.com/lindenrobin</span>
          </a>
        </p>
        <p style="margin-top: 10px;">
          <a href="https://plus.google.com/+robinlind%C3%A9n">
            <span class="fa fa-google-plus text_accent fa-fw" style="font-size: 1.3em; margin-right: .2em;"></span><span style="color: #8C8C8C">plus.google.com/+robinlindén</span>
          </a>
        </p>
        <p style="margin-top: 10px;">
          <a href="tel:+46734004464">
            <span class="fa fa-phone text_accent fa-fw" style="font-size: 1.3em; margin-right: .2em;"></span><span style="color: #8C8C8C">+46 73 400 44 64</span>
          </a>
        </p>
      </span>
    </section>
  
  <script language="JavaScript">
  function validateForm() {
    "use strict";
    var okSoFar = true;
    var foundAt = document.email_form.email.value.indexOf("@",0);
    if (foundAt < 1 && okSoFar) {
      okSoFar = false;
      alert("Please enter a valid email address.");
      document.email_form.email.focus();
    }
    if (document.email_form.subject.value=="" && okSoFar) {
      okSoFar=false;
      alert("Please enter the subject.");
      document.email_form.subject.focus();
    }
    if (document.email_form.message.value=="" && okSoFar) {
      okSoFar=false;
      alert("Please enter the details for your enquiry.");
      document.email_form.message.focus();
    }
    if (okSoFar===true) {
      document.email_form.block_spam_bots.value=(31*2*2*2*2*2*2);
      document.email_form.submit();
    }
  }
  </script>