---
layout: default
title: "great success :: robinlinden.eu"
description: You'll end up here if you successfully contacted me.
permalink: /contact/success/
---

<section>
  <h2 class="text_accent">Thank you for contacting me. I'll get back to you as soon as I can.</h2>
  <p>Now head on over and check out the <a href="{{ site.baseurl }}/projects">projects</a> I've been working on or something. Or if you want to <a href="/contact">contact me</a> again, you can do that too.</p>
</section>
<section style="text-align: center;">
  <img src="{{ site.baseurl }}/img/2d-game-engine_screenshot_1.jpg" alt="Screenshot of my work-in-progress game engine.">
</section>
