<footer>
  <div>
    <p>© <a href="{{ site.baseurl }}/">robinlinden.eu</a> 2014 - 2016</p>
  </div>
  <div>
    <p>last updated <span class="text_accent_d">{{ site.time | date: "%F" }}</span></p>
  </div>
</footer>
<div id="contact"><a href="mailto:contact@robinlinden.eu" target="_blank">contact@robinlinden.eu</a> :: <a href="{{ site.baseurl }}/config/pgp">pgp</a></div>
<!-- Botnet scripts beneath this line. Feel free to block them. -->
{% include analytics.html %}
<!-- End of botnet scripts. -->
