<header>
  <span id="logo">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="robinlinden.eu"/></a>
  </span>
  <nav>
    <ul>
      <li>
        <a href="#"><span>Home</span></a>
        <ul id="menu_1">
          <li><a href="{{ site.baseurl }}/">/ - home</a></li>
          <li><hr class="divider"></li>
          <li><a href="{{ site.baseurl }}/about">about me</a></li>
          <li><a href="{{ site.baseurl }}/cv">cv</a></li>
          <li><hr class="divider"></li>
          <li><a href="{{ site.baseurl }}/impressum">impressum</a></li>
          <li><hr class="divider"></li>
          <li><a href="{{ site.baseurl }}/contact">contact</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Blog</span></a>
        <ul id="menu_2">
          <li><a href="{{ site.baseurl }}/archives">archives</a></li>
          <li><hr class="divider"></li>
          {% for post in site.posts limit: 3 %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="#"><span>Projects</span></a>
        <ul id="menu_3">
          <li><a href="{{ site.baseurl }}/projects">all projects</a></li>
          <li><hr class="divider"></li>
          <li><a href="{{ site.baseurl }}/projects#game-engine">2d game-engine</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Config</span></a>
        <ul id="menu_4">
          <li><a href="{{ site.baseurl }}/config/pgp">pgp</a></li>
          <li><a href="{{ site.baseurl }}/config/vimrc">.vimrc</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Wallpapers</span></a>
        <ul id="menu_5">
          <li><a href="http://www.colourlovers.com/patterns">colourlovers.com<span class="out"></span></a></li>
          <li><a href="http://www.dsktps.com/">dsktps.com<span class="out"></span></a></li>
          <li><a href="http://simpledesktops.com/">simpledesktops.com<span class="out"></span></a></li>
          <li><a href="http://subtlepatterns.com/">subtlepatterns.com<span class="out"></span></a></li>
          <li><a href="http://wallpaperscraft.com/">wallpaperscraft.com<span class="out"></span></a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="#"><span>Other</span></a>
        <ul id="menu_6">
          <li><a href="/about/travel">travels</a></li>
        </ul>
      </li> -->
    </ul>
  </nav>
</header>
