---
layout: default
title: "cv - google docs :: robinlinden.eu"
description: My CV as a pdf, displayed by Google Docs so you don't have to download it unless you really want.
permalink: /cv/gdocs
---

<section>
  <div id="documentation"><p><a href="{{ site.baseurl }}/dl/cv_10_en.pdf" target="_blank">english pdf</a> :: <a href="{{ site.baseurl }}/dl/cv_10_sv.pdf" target="_blank">swedish pdf</a> :: <a href="{{ site.baseurl }}/cv">as html</a></p></div>
  <div id="note"><h1>Curriculum Vitae</h1></div>
  <div class="last-edit"><p>Last modified 4th of March, 2016 17:26</p></div>
</section>
<section>
  <iframe src="http://docs.google.com/gview?url=http://robinlinden.eu/dl/cv_10_en.pdf&embedded=true" style="width: 100%; height: 85vh;" frameborder="0"><p>Here is where an iframe containing my cv would be if your browser supported it. You can however <a href="{{ site.baseurl }}/dl/cv_10_en.pdf">download it</a> if you're interested.</iframe>
  <p>Embedded using Google Docs because phones don't really support pdfs in websites otherwise. Click <a href="{{ site.baseurl }}/cv">here</a> to view my CV as part of the website.</p>
</section>
