---
layout: default
title: "cv :: robinlinden.eu"
description: My CV. If you want to hire me or you're just interested in stuff I've done in the past.
permalink: /cv/

custom_css: cv
---

<section>
  <div id="documentation"><p><a href="{{ site.baseurl }}/dl/cv_10_en.pdf" target="_blank">english pdf</a> :: <a href="{{ site.baseurl }}/dl/cv_10_sv.pdf" target="_blank">swedish pdf</a> :: <a href="{{ site.baseurl }}/cv/gdocs">google docs</a></p></div>
  <div id="note"><h1>Curriculum Vitae</h1></div>
  <div class="last-edit">Last modified 4th of March, 2016 17:26</div>
</section>
<section id="cv">
  <h1><span style="font-weight: 100;">robin</span><span class="text_accent">lindén</span></h1>
  <p>computer engineer</p>
  <div class="flex_container_col">
    <span style="min-width: 14em;">
      <h2>contact</h2>
      <address>
        <a href="tel:+46734004464">+46 73 400 44 64</a><br><br>
        <a href="mailto:contact@robinlinden.eu">contact@robinlinden.eu</a><br>
        <a href="http://robinlinden.eu">http://robinlinden.eu</a><br>
        <a href="http://facebook.com/lindenrobin">fb://lindenrobin</a>
      </address>

      <h2>languages</h2>
      <table class="text_accent">
        <tbody>
          <tr><td>Swedish</td><td>::</td><td>native</td></tr>
          <tr><td>English</td><td>::</td><td>fluent</td></tr>
          <tr><td>German</td><td>::</td><td>basic</td></tr>
        </tbody>
      </table>
      <h2>programming</h2>
      <p><span class="text_accent">♥</span> C++<br>
      Python, C#, Java<br>
      CSS3 & HTML5</p>
    </span>
    <span>
      <div>
        <h2>education</h2>
        <div class="flex_container_col">
          <span>
            <p>2011-2014</p>
          </span>
          <span>
            <h3>Bachelor of Engineering</h3>
            <p>Örebro University<br>
            Computer Engineer</p>
            <p>My thesis was about agile software development methodologies and how I applied them while developing software for a local business.</p>
          </span>
        </div>
      </div>
      <div>
        <h2>experience</h2>
        <div>
          <h3>Consulting</h3>
          <div class="flex_container_col">
            <span>
              <p>2011-Now</p>
            </span>
            <span>
              <p>ORY AB<br>
              Örebro<br>
              IT consultant</p>
              <p>Developed software applying agile methodologies in C#; built, set up, and managed Linux-based servers; designed documents; drafted component blueprints in CAD-software; wrote Python scripts to automate repetitive tasks. </p>
              <label>Detailed achievements:</label>
              <ul class="non_accent_list">
                <li>Built and set up a server that hosted photos and CAD-files used across several companies, syncing these across multiple other servers using cron and rsync.</li>
                <li>Wrote software used to calculate where the centre of gravity of cargo in lorries should go for optimal load balancing.</li>
                <li>Coded Python scripts used to extract data from Excel documents and make calculations on these data.</li>
                <li>Various tech support tasks such as fixing printers, diagnosing and fixing broken hardware, and writing scripts making everyone's life easier.</li>
              </ul>
            </span>
          </div>
        </div>
        <div>
          <h3>Other</h3>
          <div class="flex_container_col">
            <span>
              <p>2010-Now</p>
            </span>
            <span>
              <p>Self-employed<br>
              Various<br>
              Web designer</p>
              <p>Designed and coded websites for various businesses in HTML5, CSS3, and PHP.</p>
            </span>
          </div>
        </div>
      </div>
      <div>
        <h2>interests</h2>

        <h3>professional:</h3>
        <p>programming, web design, web app creation, software design, linux</p>
        <h3>personal:</h3>
        <p>gaming, reading, cooking, music, travelling, scuba diving</p>
      </div>
    </span>
  </div>
</section>
