nav {
    position:relative; z-index: 10;
    width: 100%; height: 2.4rem;
    background: #0d0d0d; color: #858585;
    font-size: 1.2em; line-height: 2.5rem;
    cursor: default;
    margin: 0 -8px 3px; padding: 0 16px 0 0;

    a, a:link, a:visited {
      color: #aaa;
      text-decoration: none;
    }

    > ul {
      display: table;
      list-style: none;

      > li {
        display: table-cell;
        position: relative;
        box-sizing: border-box;
        padding: 0 .6rem;

        &:hover, &:active {
          background: #3b3b3b;
          color: #aaa;

          ul {
            visibility: visible;
            background: #3b3b3b;
            width: 15rem;
            list-style: none;

            a {
              display: block;
              padding: 0 1rem;
            }
          }
        }

        > a {
          cursor: default;
        }

        ul {
          position: absolute;
          visibility: hidden;
          left: 0;

          a:hover, a:active {
            color: #ccc;
          }
        }
      }
    }

    @media screen and (max-width: 540px) {
      li > #menu_6 {
        left: initial; right: 0;
      }
    }

    @media screen and (max-width: 440px) {
      li > #menu_5 {
        left: initial; right: 0;
      }
    }

    #menu_1 li:hover :not(.divider) { background: #8c4655; }
    #menu_2 li:hover :not(.divider) { background: #8c466a; }
    #menu_3 li:hover :not(.divider) { background: #8c4681; }
    #menu_4 li:hover :not(.divider) { background: #81468c; }
    #menu_5 li:hover :not(.divider) { background: #6a468c; }
    #menu_6 li:hover :not(.divider) { background: #55468c; }

    .divider {
        height: 0;
        margin: 4px 10px 4px;
        border: 0; border-top: 1px dashed #8c8c8c;
        background: transparent;
    }
}

main {
    width: 100%; height: auto;
    color: #8c8c8c;
    margin: 0 auto 2px;
    position: relative; z-index: 5;
    line-height: 1.3;

    h1 {
      font-size: 2em;
    }
}

footer {
    width: 100%; height: .8em;
    background: #0d0d0d;
    margin: 0 -.8em; padding: .8em;

    > :first-child {
      float: left;
    }
    > :last-child {
      float: right;
    }

    div {
      font-size: 1.1em;
      line-height: 11px;
      //color: #858585;
      color: #737373;
    }
}

.post {
  .post-header {
    .post-title {
      margin-top: 0;
    }
  }

  figure {
    text-align: center;
    
    img {
      width: 40em;
    }
  }
}

.post-list {
  // max-width: 32em;
  line-height: 2.5;
  margin: 0;

  li {
    list-style: none;

    &:nth-child(even) {
      background-color: #222;
    }
  }

  .post-meta {
    margin: 0 1em;
  }

  .post-link {

  }

  .post-tags {
    float: right;
    margin-right: 1em;
  }
}
