---
layout: default
title: "about :: robinlinden.eu"
description: About me (Robin Lindén), my education, what I'm doing, and what I want to be doing.
permalink: /about/
---

<section>
  <p class="text_accent">Hi. My name is Robin, I am a computer (or electrical if you're American) engineer, and this is my website. I'll probably add a (more professional) image of my very handsome self here later.</p>
</section>
<section>
  <p>I work as a consultant which means I have a fairly wide range of responsibilities, including setting up servers, networks, and writing software.</p>
  <p>When I've got time off from my consultant-type work, I design and host websites for small businesses. Feel free to check some of them out over in my portfolio if you're interested.</p>
</section>
<section class="flex_container_col_rev">
  <div style="flex: initial; max-width: 60em;">
    <p>I graduated from Örebro university in Sweden with a B.Sc. in Computer Engineering and am currently studying to acquire a Master's degree in Robotics and Intelligent Systems at the same university.</p>
    <p>I spend way too much time in front of computers, usually gaming or <a href="{{ site.baseurl }}/projects">programming</a>. My non-computery interests are scuba diving, doing various university courses (mostly maths and computer science), <a href="{{ site.baseurl }}/about/travel">traveling</a>, reading, and drinking delicious alcohol or coffee.</p>
    <p>Listed below is a subset of the set of languages I am capable of working in: </p>
    <ul class="text_accent">
      <li>Swedish</li>
      <li>C++</li>
      <li>C#</li>
      <li>Python</li>
      <li>Rust</li>
      <li>English</li>
      <li>Java &amp; Scala</li>
    </ul>
    <pre>01101001 00100000 01100100 01101111 01101110 01110100 00100000 01110011 01110000 01100101 01100001 01101011 00100000 01100010 01101001 01101110 01100001 01110010 01111001 00100000 01100010 01110101 01110100 00100000 01101001 00100000 01100011 01100001 01101110 00100000 01110100 01110010 01111001
    </pre>
  </div>
  <div style="flex: initial; margin: 0.8em; text-align: center;">
    <figure>
      <img style="height: auto; max-width: 17.8em; border-radius: 0.5em;" src="/img/slightly-less-unprofessional.jpg" alt="Me, not eating chips.">
      <figcaption><small>the beer is a <a href="http://www.ratebeer.com/beer/ballast-point-fathom-india-pale-lager/66230/">ballast point fathom</a> <br> india pale lager</small></figcaption>
    </figure>
  </div>
</section>
<section>
  <p>What to do now that you've read this? Maybe <a href="{{ site.baseurl }}/contact">contact me</a> or check out a few of the <a href="{{ site.baseurl }}/projects">projects</a> I've worked on.</p>
</section>
