---
layout: default
title: "about/travel :: robinlinden.eu"
description: The places I've visited and maybe some writing about where I'be been or something.
permalink: /about/travel/
---

<section>
	<p>So, I like to travel. </p>
	<p><iframe style="overflow: hidden; height: 70vh; width: 100%;" src="//batchgeo.com/map/59bca536fd589fea66cf3eb9b7e74fe9" scrolling="no" frameborder="0"></iframe></p>
	<p><small>View <a href="https://batchgeo.com/map/59bca536fd589fea66cf3eb9b7e74fe9">places I've been</a> in a full screen map</small></p>
</section>
