---
layout: default
title: "firefox :: robinlinden.eu"
description: My Firefox setup, including a list of add-ons and some custom css.
permalink: /config/firefox/
---

<section>
  <h1 style="font-size: 1.6em;" class="text_accent">Firefox customisations</h1>
  <div class="flex_container_col" style="">
    <span>
      <p>Below is a list of userstyles and add-ons that will suit you if you value privacy, prefer darker interfaces, and aren't a fan of the <a href="https://blog.mozilla.org/ux/2013/11/australis-is-landing-in-firefox-nightly/">Australis</a> thing Firefox has been doing for a while now. Of course, you can just pick and choose what you like from the page, but beneath is the stuff that I like. </p>
    </span>
    <figure style="display: inline-block; width: 34.9em;">
      <img style="margin: 1em;" src="{{ site.baseurl }}/img/config/tree-style-tab.png">
      <figcaption style="font-size: 1.2em; text-align: left;">Userstyle customisations of <a href="https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/">Tree Style Tab</a> together with the <a href="https://addons.mozilla.org/en-US/firefox/addon/devedition-theme-enabler/">Firefox Dev Theme</a>.</figcaption>
    </figure>
  </div>
</section>
<section>
  <h2 class="text_accent">Addons focusing on privacy</h2>
  <ul>
    <li>
      <h3>µBlock Origin</h3>
      <p>Blocks ads, tracking, and annoyances.</p>
      <p>Running with the default filters + <a href="https://easylist-downloads.adblockplus.org/fanboy-annoyance.txt">Fanboy's Annoyance List</a></p>
    </li>
    <li>
      <h3>Decentraleyes</h3>
      <p>Blocks connections to scripts such as the Google-hosted jQuery script and serves you a local copy of the same script.</p>
    </li>
    <li>
      <h3>HTTPS Everywhere</h3>
      <p>Forces HTTPS on a number of websites that support it but don't enforce it.</p>
    </li>
  </ul>
</section>
<section>
  <h2>Addons unrelated to privacy</h2>
  <ul>
    <li>
      <h3>Vimperator</h3>
      <p>Provides Vim-flavoured navigation for your browser. No need to ever touch the mouse again while browsing. If you don't like the UI-tweaks it provides, you can turn them off with <cmd>:gui=</cmd> or try <a href="">VimFX</a> as it proivdes <em>most</em> of the commands while being a lot more lightweight.</p>
      <h4>A few things you need to know about Vimperator</h4>
      <ul>
        <li>b[uffers] gives you a searchable list of open tabs.</li>
        <li>f[ollow link] allows you to type part of a link or hit a number to follow a link visible on the screen. F to do the same, except it opens a new tab.</li>
        <li>d[elete] closes the current tab.</li>
        <li>y[ank] to copy the url you're on. Y to copy </li>
      </ul>
    </li>
    <li>
      <h3>Stylish</h3>
      <p>For use with the userstyles listed <a href="#userstyles">here.</a></p>
    </li>
    <li>
      <h3>QrCodeR</h3>
      <p>Converts the url (or the current selected portions of the page) into a QR code for easy transfer to your phone.</p>
    </li>
    <li>
      <h3><a href="">Tab Groups</a> + <a href="">Tab Groups Button</a></h3>
    </li>
  </ul>
</section>
<section id="userstyles">
  <h2 class="text_accent">Scrollbar userstyle</h2>
  <pre wrap="on">/* AGENT_SHEET */
@-moz-document url-prefix(http://), url-prefix(https://), url("chrome://browser/content/bookmarks/bookmarksPanel.xul"), url("chrome://browser/content/browser.xul"), url("chrome://browser/content/history/history-panel.xul"), url-prefix(about:) {
  scrollbar scrollbarbutton { visibility: collapse; display: none; }
  scrollbar scrollbarbutton {  }

  scrollbar[orient="vertical"], scrollbar[orient="horizontal"] {
    background: #1C2126 url(https://pbs.twimg.com/media/CKecQtCWoAA8keI.png);
    -moz-appearance: none;
  }

  scrollbar[orient="vertical"] {
    width: 10px;
    border-left: 1px solid #1C2126;
  }

  scrollbar[orient="horizontal"] {
    height: 10px;
    border-top: 1px solid #1C2126;
  }

  scrollbar thumb[orient="vertical"], scrollbar thumb[orient="horizontal"] {
    background: #1A4666;
    -moz-appearance: none;
    border: 0;
  }

  scrollbar thumb[orient="vertical"] {
    min-height: 25px;
    width: 9px;
  }

  scrollbar thumb[orient="horizontal"] {
    min-width: 25px;
    height: 9px;
  }

  scrollbar thumb[orient="horizontal"]:hover, scrollbar thumb[orient="vertical"]:hover {
    background: #24628F;
  }
  scrollcorner {
    background: #1A4666 url(https://pbs.twimg.com/media/CKecQtCWoAA8keI.png);
  }
}
  </pre>
  <pre wrap="on">/* AGENT_SHEET */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul) {
  /* Remove and move the border from the main content pane. */
  #navigator-toolbox{
    border: 0px !important;
    margin-bottom: -1px !important;
  }
  tabpanels.plain{
     border: 1px solid #101010 !important;
     border-width: 1px 0px 0px 1px !important;
  }

  /* Tab pane. */
  .tabbrowser-tabs {
    border: none !important;
    background: #1c2126 !important;
    margin-left: -4px !important;
    margin-right: 0px !important;
  }

  /* Fix transparent background next to pinned tabs on Windows 7 with Aero enabled. */
  .treestyletab-tabbar-toolbar {
    background: #1C2126 !important;
  }

  /*  Comment out to make tabs less compact.  */
  .tabbrowser-tabs .tab-background-start,
  .tabbrowser-tabs .tab-background-end {
    display: none !important;
  }

  /* Hide autocomplete arrow in urlbar. */
  .autocomplete-history-dropmarker {
    display: none !important;
  }

  /* New tab button. */
  #new-tab-button,
  .tabs-newtab-button {
    background: #1c2126 !important;
    border-radius: 0 !important;
    border: none !important;
  }

  /* Scrollbutton in tab pane. */
  #alltabs-button {
    display: none !important;
  }

  /* Display closetab button when hovered over. */
  .tab-close-button {
    display: none !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: -moz-box !important;
  }

  /* Dim tabs that aren't loaded into memory. */
  .tabbrowser-tab[pending="true"] {
    opacity: .5 !important;
  }
  .tabbrowser-tab:not([pending]) {
    opacity: 1.0 !important;
  }

  /* Active tab. */
  .tabbrowser-tab[selected] .tab-content {
    background: #1A4666 !important;
  }

  /* Inactive tabs. */
  .tabbrowser-tab:not([selected]) .tab-content {
    background: #1C2126 !important;
  }


  /* Tab Groups Button */

  #tabgroupsbtn-btn {
    display: flex !important;
    border-bottom: 1px solid #101010 !important;
    background: #39424d !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
  }

  #tabgroupsbtn-btn hbox {
    flex: 1 !important;
    display: flex !important;
  }

  #tabgroupsbtn-btn toolbarbutton {
    flex: 1 !important;
    height: 25px !important;
    background: none !important;
  }

  #tabgroupsbtn-btn .toolbarbutton-text{
    font-weight: normal !important;
    color: #ddd !important;
  }

  #tabgroupsbtn-btn toolbarbutton:hover .toolbarbutton-text{
    color: #fff !important;
  }
}
  </pre>
</section>
