---
layout: default
title: "pgp :: robinlinden.eu"
description: My public (GPG) key in case you'd like to contact me or something.
permalink: /config/pgp
---

<section>
  <p>I'll probably add instructions or something like that to this section eventually. PGP is a bit annoying for beginners to get to work and be convenient.</p>
</section>
<section>
  <p>In case you want to email me without the NSA or GCHQ or whoever reading it, you can use this.</p>
  <pre id="public_key">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2

mQINBFYQ75oBEACtclEAyh+qg8/4OccUByHLzGMUvLqJyIsCzMQWFGWue8a1CzDh
LmrrYmUVJavZTwD46WQqYjkhGuO1CFeyoiFt5SiZMF2bx+g2BE5GPefM0P4IADsl
HjgH0/Z01dz/dTuVprfa6gUqFwWcpuA189HTrJxg7a04otdS3VnJ5tZZXT6cL7Z1
X8j13e8OFZgD8Xz9P95oIF8OB9d3UyO06J3eczSQYH91mxDe3+adUZug+Ur8ZWGa
5KwTd0O3BdMOoUopqZOeLFOdL0RlGw+oH7dPm/WbNoAqGmEWM+ZCDHBBGMgLiSxc
JC3VRgZqcDtsrTjCOeGHJA4XhIGWEIxDrG6bzzb1Rkucloeuuql78XdHelDbQ7oH
csReWDVjc/3ti9qkq9IfHEODwlj0x+FEYpd8p4rwZBrCYxbUr1Ak/rQIHLfqilWO
aQ+X1hVtwxzzR83fy8DOAeWRQntNyEOPcgEsnRcw32S1gx85kvbLFBnwFrxx+Nnt
SH29yx+OisS6GP1TURZbsYrj6/m4jG3YDIxfDxdmyyuEbAXRxbylKAwGp0QzamgM
N+DvJzjTa1MKU03ZaUylMzxs9xc5Us+ulY5JTl5dUWE2PZPEheInviVlnSNlhPE/
CrCd8bGVDNhh9ZOjmQAOyB1oHg/Lro2qEJBwGICct5s6BCkbpX3vFH1kQQARAQAB
tCZSb2JpbiBMaW5kw6luIDxjb250YWN0QHJvYmlubGluZGVuLmV1PokCPAQTAQgA
JgIbIwcLCQgHAwIBBhUIAgkKCwQWAgMBAh4BAheABQJWP1j1AhkBAAoJEGAaYEt+
YFd20IMQAIbYHqGGuVywX9cB3mReRJunOBR3z8M4TPax8kDfAAtwZUY+N9diaCBJ
9rGc6yOO/ikWrfc+D1ekjv8B9+hiaK1xC6cssdLB5pAVzy19DlYbOw3/F8dvNhRn
SZtSbKaEgy2/DBglHw/4Ph4/uKN78m9uuZPTygkAeeL38OxE90WAfkjQNmXWvdUW
iwERc3CpYVaM4Z4JaCOOSY0lMuLIX0GOpuBAReGMXhsfVXxPmUm8eGoEhnzLQqsi
Y4NJCrqV2eYGtdYZOuN3XXE4TJL+kcVmnJOCYtCnFQH99SuXGH0N2jfwxg9z0g7t
nBgaJHQDTh+OHynu4Q3Pkr4CD/RHQkNBbktqiFH1OPmepEE68ofoK/ObW10q6isK
1liCKsrWrWYmkUgjsUEejmq24OWSOfcyEV/MFmecFxuvB9DqwN6XjOLj1By2Jkrr
l0Qpk6vFmNtq1JRvM7tdomv7uvnpKtaxL7sCSzsvGkQA2h1fXHBbhPi7FLk2jR1C
ptT9KCeddUc1VLItyqHm8au6ts6fvEFZ8v43fDpbbMif3msWkN1mRAO1XWdkfoes
A7AqEyQzjQ0vwGnhfHhF+oYDrOG62e0nX/2HMIb3flt8SSwmRor3G9E88dLgmAXP
sdcOsQZQ6Dms6ii0Rd52oJSlToTgqcyeYRisp8ePVzKk0zwWAptjtCRSb2JpbiBM
aW5kw6luIDxyb2JzYXJjYXNtQGdtYWlsLmNvbT6JAjkEEwEIACMCGyMHCwkIBwMC
AQYVCAIJCgsEFgIDAQIeAQIXgAUCVj9Y9QAKCRBgGmBLfmBXdth7D/4s0yAoQs3c
3HZ0rtrtmSEU5TdWpDcUoTc6KNl8isE583q0GGnaENulMQ1w5NeEakBj1P+y9fNo
r+jjEyh3Z0HE91Z3dn5cDChWqNTbsahs3j8kKd6uJiHZdCDCLR2oD9jdTWZSiAaO
O/o0qmkHdeU2WWwxeUBkeVOVxF+4iq8Ad4dOueUaxyaJdLHaW+7OHXa7NM3e6Oz8
v96cIoTmB6IpCZtjbo59gAD8Y8e0NGAr40y62x+m+CoxESPDAkSMFIvZTZIaKos6
zK6NAlewAI1AwTgk50wN7gV+f8XPi7/GoNmA1m8YIAZZMC2SztXrtH9RGSxBJJOK
CALYk5O1E5xbMfw/CWwJivoPmBXRa4rQPFXgusFAwzYEOCUljkTsVCtFH4oYdDJ6
pQezhDZRAkYI89UWg1/zWMUM8Hskp0v+dIKJQFhrRdvpUQFBA7xRR9k/CMr/GTIe
x17d7kmAUFi148me4E9n96TOsIgX2O0xiFeFTpI9jSns3SYSuxonkqWxG0l9CUoW
OzXzwoueI67qbIH/xcdAcvz3wvS2xUyo7INk4w5I96TnCsWn6vSO3OUPyio2tE4E
HwmpP6TEqDOijUC4ZQQD+HrYSiIuBigymNXSIVFIr/Bu0IkROQAOFWOyyavcvOuR
eVoZWROz3/kRsDNCsd606xedIpLLGd6TzrQnUm9iaW4gTGluZMOpbiA8cm9iaW5s
aW5kZW5AbWFpbGJveC5vcmc+iQI5BBMBCAAjBQJWP1jQAhsjBwsJCAcDAgEGFQgC
CQoLBBYCAwECHgECF4AACgkQYBpgS35gV3agMRAAlx0Bfv0KvqomRMFehorDtxZ7
ODKmRPOHz+I/Nkzqm7vPr2sVjn+8YkC3Gure9hw6FtMMYxdBXR57vjM5/Zf+zCZj
YJJZewSUWjlHkm9mZ89sTcH1vwwabbBVYVGq0ijEqzMCtwYn4BuzSV7jrno8P2f6
+rsbGOO7p8TnQsoyEXfRJuVFf3SOXtvboFMTK3+1umRGec2oj8ULyYDfAqlQNFuQ
BaF1adR7wFv13CnHqE9z+pWD/uP9FK+pAQHWPnWz+Btd7RXHfPsebR17DAlNOYT/
eFpzU8WSE1mlqEuOWCCNgRrNM9WtNXOG6Z25BcZ471hPTcawj1f+2O7N812vQgQV
xMuY/8jJec4IsZnhWnTb+AP8xczEMEf8WLZ6K31b8qUZEdvf6TlJu/az1pcv2dL9
AxVe4mxtjaJPi4tbvDt1nPIg36mU1o43OE2rr25JgWXElrFHf3oVyCVv8H5d8Spc
9FzhlASTzjnhLotUwvJssIUWvdF33CH95szgApHVjO6OQJETtdBZs6LpFn8s8Roh
bIvbD1PlzRDIM2Y063r6Ivi0+r+ObdtvLyxPirJ+4pr2zTds/r0qNSLf5+u+Lry2
3/umgu0iLKiPL12lrJ7jzkJx5UkRLpbxoGXB3BfeL1C40U281T+GtOR80p7cPI27
D34zrfx0v4A5wfv/ahu5Ag0EVhDvmgEQANGma2CTmQqnkZ2a9nbr1tjx5iryt7RY
MyGjFmAJ6PhMnZAXhVTysuarmRS0mDClv+b6P5PFiZI6shLLav/3IWmzCY2vI9W4
lOJ4O+zEC+2bO/4I/MeNxr5ynO8nDIhV2IuEXAsT7AyiD1UDW47yVqYMRGke3hI/
mfPewA3lngU/qVNddqBy0tK7bE8hmW9PFKLlQI/LnyH5e86i9jE5pmM/yuQIAWIc
xxfNHIoYBnAsm+v4OCnBkrVrAIx+idQgNqEhAoZ91Dkm4ef0ePsDzRX+dAMh5Csw
X9XhK8ngmeTQZX9aoZsvL9UjcAaYEYTTVisENqKBL29cENoRvEQOR+ozaEu+Ya9j
x0+9RUcCyx3xr+EKEy6TwOPGgUVKalLkoc3bzDZq177gpfpc8Nl8Zd82vtNfFlFV
4eNvUKEQoZo6kZHpjRvvA67U9YB4HqllhGYsDxtDYnGX5573Cj+U7inqAxARgW+l
RdjKTDG+86ATC2rGQHRcT7wW5pPyC8AyrJx4r8bYHw9o2mcVOVNXw0Grq+B39taU
FlcyLSak4uWQ6/mWj3fjCVKcO0/iCYCIZ7udMsMnJ7jfUbpNXZ0rXXoPGgu2JJh+
z+U+2dhXaLijsMCIUh0Z2P6kpZpfOsMltftu+2SOmIJLnihLixNomBBxrGt1itok
3uAVA68V18wHABEBAAGJAh8EGAEIAAkFAlYQ75oCGwwACgkQYBpgS35gV3YMQRAA
iFu2SDr+sj6Qbbt6+JBeKDGT0bo/ta2o3t+Tk/C77JlF3r8W8gSOTQipS/clWRva
BzdcJ2fbZY9mW34LxxOxHfdAuEMITW62hffIKT2zl92qWGGTqvCVXO9I1+NbA+s6
o7Kbd79C0huWC3zl/HUjQr7U+w1+QV0G99un1uO4uB3RVOppmZfGyweDAVsUQ2WT
jr4APtps+L9jNZs7w/8BfIToiY1J8Ce6HhUO2380MSvh/8qEodlZi4hP1HJtHlj7
YpXskIUiqv0NVU4+v7uO8gWE7lr0lboHVMjEPmSh3PZfo0Z5qr4eS7Vx/a3Dg6jR
cVRAZxI4UPd7CJ+wcaozrgkw0ahBLW+J352k1e9MtOykb8atUxm0kZxGsZ03F5Ok
boaLNjk40RFT55jndtMN5YZiM0FLblNgrr0+5v0xZY/+bEsDTMVorEmwN+82mib8
6FiQ3De6KmIMmERWpGaVX9p8Mw9AFPXoP/5gjNfRy4LvptzxQ9dqPt/wZdlxJWRl
yOo6WjYjp0HbNU1jHUmmXzqb0+ME5ZUjoOHR5/voF8CaQfCPUyoWpWOz+qUvM7ke
4Sc4ZpgEwD4knfsl4lnu8uWjXGDTkAfYgDGS/j9Vw7QhVUOkGeEzYyZ+tfeh2Chi
mNvCi3rjtbHF/QHSN5NBCDvoiiFQv9mYnl9B476Vsgg=
=YnUw
-----END PGP PUBLIC KEY BLOCK-----
  </pre>
</section>
