---
layout: default
title: ".vimrc :: robinlinden.eu"
description: Pretty great .vimrc to steal parts from to improve your own.
permalink: /config/vimrc
---

<section>
  <p>I'll probably (later) add a bit about the different VIM plugins I use to this part of my website.</p>
</section>
<section>
  <div id="documentation"><p><a href="https://wiki.archlinux.org/index.php/Vim" target="_blank">https://wiki.archlinux.org/index.php/Vim<span class="out"></span></a></p></div>
  <div id="note"><p>~/.vimrc</p></div>
  <div class="last-edit">Last modified 5th March, 2015 02:49</div>
  <textarea style="height: 4828px; width: 99%;" wrap="off" spellcheck="false">
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Maintainer:
"       Amir Salihefendic
"       http://amix.dk - amix@amix.dk
"
" Version:
"       5.0 - 29/05/12 15:43:36
"
" Blog_post:
"       http://amix.dk/blog/post/19691#The-ultimate-Vim-configuration-on-Github
"
" Awesome_version:
"       Get this config, nice color schemes and lots of plugins!
"
"       Install the awesome version from:
"
"           https://github.com/amix/vimrc
"
" Syntax_highlighted:
"       http://amix.dk/vim/vimrc.html
"
" Raw_version:
"       http://amix.dk/vim/vimrc.txt
"
" Sections:
"    -&gt; General
"    -&gt; VIM user interface
"    -&gt; Colors and Fonts
"    -&gt; Files and backups
"    -&gt; Text, tab and indent related
"    -&gt; Visual mode related
"    -&gt; Moving around, tabs and buffers
"    -&gt; Status line
"    -&gt; Editing mappings
"    -&gt; vimgrep searching and cope displaying
"    -&gt; Spell checking
"    -&gt; Misc
"    -&gt; Helper functions
"
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; General
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Sets how many lines of history VIM has to remember
set history=700

" Enable filetype plugins
filetype plugin on
filetype indent on

" Set to auto read when a file is changed from the outside
set autoread

" With a map leader it's possible to do extra key combinations
" like &lt;leader&gt;w saves the current file
let mapleader = ","
let g:mapleader = ","

" Fast saving
nmap &lt;leader&gt;w :w!&lt;cr&gt;


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; VIM user interface
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Set 7 lines to the cursor - when moving vertically using j/k
set so=7

" Turn on the WiLd menu
set wildmenu

" Ignore compiled files
set wildignore=*.o,*~,*.pyc

"Always show current position
set ruler

" Height of the command bar
set cmdheight=2

" A buffer becomes hidden when it is abandoned
set hid

" Configure backspace so it acts as it should act
set backspace=eol,start,indent
set whichwrap+=&lt;,&gt;,h,l

" Ignore case when searching
set ignorecase

" When searching try to be smart about cases
set smartcase

" Highlight search results
set hlsearch

" Makes search act like search in modern browsers
set incsearch

" Don't redraw while executing macros (good performance config)
set lazyredraw

" For regular expressions turn magic on
set magic

" Show matching brackets when text indicator is over them
set showmatch
" How many tenths of a second to blink when matching brackets
set mat=2

" No annoying sound on errors
set noerrorbells
set novisualbell
set t_vb=
set tm=500


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Colors and Fonts
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Enable syntax highlighting
syntax enable

colorscheme desert
set background=dark

" Set extra options when running in GUI mode
if has("gui_running")
    set guioptions-=T
    set guioptions+=e
    set t_Co=256
    set guitablabel=%M\ %t
endif

" Set utf8 as standard encoding and en_US as the standard language
set encoding=utf8

" Use Unix as the standard file type
set ffs=unix,dos,mac


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Files, backups and undo
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Turn backup off, since most stuff is in SVN, git et.c anyway...
set nobackup
set nowb
set noswapfile


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Text, tab and indent related
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Use spaces instead of tabs
set expandtab

" Be smart when using tabs ;)
set smarttab

" 1 tab == 4 spaces
set shiftwidth=4
set tabstop=4

" Linebreak on 500 characters
set lbr
set tw=500

set ai "Auto indent
set si "Smart indent
set wrap "Wrap lines


""""""""""""""""""""""""""""""
" =&gt; Visual mode related
""""""""""""""""""""""""""""""
" Visual mode pressing * or # searches for the current selection
" Super useful! From an idea by Michael Naumann
vnoremap &lt;silent&gt; * :call VisualSelection('f')&lt;CR&gt;
vnoremap &lt;silent&gt; # :call VisualSelection('b')&lt;CR&gt;


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Moving around, tabs, windows and buffers
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Treat long lines as break lines (useful when moving around in them)
map j gj
map k gk

" Map &lt;Space&gt; to / (search) and Ctrl-&lt;Space&gt; to ? (backwards search)
map &lt;space&gt; /
map &lt;c-space&gt; ?

" Disable highlight when &lt;leader&gt;&lt;cr&gt; is pressed
map &lt;silent&gt; &lt;leader&gt;&lt;cr&gt; :noh&lt;cr&gt;

" Smart way to move between windows
map &lt;C-j&gt; &lt;C-W&gt;j
map &lt;C-k&gt; &lt;C-W&gt;k
map &lt;C-h&gt; &lt;C-W&gt;h
map &lt;C-l&gt; &lt;C-W&gt;l

" Close the current buffer
map &lt;leader&gt;bd :Bclose&lt;cr&gt;

" Close all the buffers
map &lt;leader&gt;ba :1,1000 bd!&lt;cr&gt;

" Useful mappings for managing tabs
map &lt;leader&gt;tn :tabnew&lt;cr&gt;
map &lt;leader&gt;to :tabonly&lt;cr&gt;
map &lt;leader&gt;tc :tabclose&lt;cr&gt;
map &lt;leader&gt;tm :tabmove

" Opens a new tab with the current buffer's path
" Super useful when editing files in the same directory
map &lt;leader&gt;te :tabedit &lt;c-r&gt;=expand("%:p:h")&lt;cr&gt;/

" Switch CWD to the directory of the open buffer
map &lt;leader&gt;cd :cd %:p:h&lt;cr&gt;:pwd&lt;cr&gt;

" Specify the behavior when switching between buffers
try
  set switchbuf=useopen,usetab,newtab
  set stal=2
catch
endtry

" Return to last edit position when opening files (You want this!)
autocmd BufReadPost *
     \ if line("'\"") &gt; 0 && line("'\"") &lt;= line("$") |
     \   exe "normal! g`\"" |
     \ endif
" Remember info about open buffers on close
set viminfo^=%


""""""""""""""""""""""""""""""
" =&gt; Status line
""""""""""""""""""""""""""""""
" Always show the status line
set laststatus=2

" Format the status line
set statusline=\ %{HasPaste()}%F%m%r%h\ %w\ \ CWD:\ %r%{getcwd()}%h\ \ \ Line:\ %l


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Editing mappings
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Remap VIM 0 to first non-blank character
map 0 ^

" Move a line of text using ALT+[jk] or Comamnd+[jk] on mac
nmap &lt;M-j&gt; mz:m+&lt;cr&gt;`z
nmap &lt;M-k&gt; mz:m-2&lt;cr&gt;`z
vmap &lt;M-j&gt; :m'&gt;+&lt;cr&gt;`&lt;my`&gt;mzgv`yo`z
vmap &lt;M-k&gt; :m'&lt;-2&lt;cr&gt;`&gt;my`&lt;mzgv`yo`z

if has("mac") || has("macunix")
  nmap &lt;D-j&gt; &lt;M-j&gt;
  nmap &lt;D-k&gt; &lt;M-k&gt;
  vmap &lt;D-j&gt; &lt;M-j&gt;
  vmap &lt;D-k&gt; &lt;M-k&gt;
endif

" Delete trailing white space on save, useful for Python and CoffeeScript ;)
func! DeleteTrailingWS()
  exe "normal mz"
  %s/\s\+$//ge
  exe "normal `z"
endfunc
autocmd BufWrite *.py :call DeleteTrailingWS()
autocmd BufWrite *.coffee :call DeleteTrailingWS()


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; vimgrep searching and cope displaying
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" When you press gv you vimgrep after the selected text
vnoremap &lt;silent&gt; gv :call VisualSelection('gv')&lt;CR&gt;

" Open vimgrep and put the cursor in the right position
map &lt;leader&gt;g :vimgrep // **/*.&lt;left&gt;&lt;left&gt;&lt;left&gt;&lt;left&gt;&lt;left&gt;&lt;left&gt;&lt;left&gt;

" Vimgreps in the current file
map &lt;leader&gt;&lt;space&gt; :vimgrep // &lt;C-R&gt;%&lt;C-A&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;&lt;right&gt;

" When you press &lt;leader&gt;r you can search and replace the selected text
vnoremap &lt;silent&gt; &lt;leader&gt;r :call VisualSelection('replace')&lt;CR&gt;

" Do :help cope if you are unsure what cope is. It's super useful!
"
" When you search with vimgrep, display your results in cope by doing:
"   &lt;leader&gt;cc
"
" To go to the next search result do:
"   &lt;leader&gt;n
"
" To go to the previous search results do:
"   &lt;leader&gt;p
"
map &lt;leader&gt;cc :botright cope&lt;cr&gt;
map &lt;leader&gt;co ggVGy:tabnew&lt;cr&gt;:set syntax=qf&lt;cr&gt;pgg
map &lt;leader&gt;n :cn&lt;cr&gt;
map &lt;leader&gt;p :cp&lt;cr&gt;


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Spell checking
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Pressing ,ss will toggle and untoggle spell checking
map &lt;leader&gt;ss :setlocal spell!&lt;cr&gt;

" Shortcuts using &lt;leader&gt;
map &lt;leader&gt;sn ]s
map &lt;leader&gt;sp [s
map &lt;leader&gt;sa zg
map &lt;leader&gt;s? z=


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Misc
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Remove the Windows ^M - when the encodings gets messed up
noremap &lt;Leader&gt;m mmHmt:%s/&lt;C-V&gt;&lt;cr&gt;//ge&lt;cr&gt;'tzt'm

" Quickly open a buffer for scripbble
map &lt;leader&gt;q :e ~/buffer&lt;cr&gt;

" Toggle paste mode on and off
map &lt;leader&gt;pp :setlocal paste!&lt;cr&gt;



"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =&gt; Helper functions
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
function! CmdLine(str)
    exe "menu Foo.Bar :" . a:str
    emenu Foo.Bar
    unmenu Foo
endfunction

function! VisualSelection(direction) range
    let l:saved_reg = @"
    execute "normal! vgvy"

    let l:pattern = escape(@", '\\/.*$^~[]')
    let l:pattern = substitute(l:pattern, "\n$", "", "")

    if a:direction == 'b'
        execute "normal ?" . l:pattern . "^M"
    elseif a:direction == 'gv'
        call CmdLine("vimgrep " . '/'. l:pattern . '/' . ' **/*.')
    elseif a:direction == 'replace'
        call CmdLine("%s" . '/'. l:pattern . '/')
    elseif a:direction == 'f'
        execute "normal /" . l:pattern . "^M"
    endif

    let @/ = l:pattern
    let @" = l:saved_reg
endfunction


" Returns true if paste mode is enabled
function! HasPaste()
    if &paste
        return 'PASTE MODE  '
    en
    return ''
endfunction

" Don't close window, when deleting a buffer
command! Bclose call &lt;SID&gt;BufcloseCloseIt()
function! &lt;SID&gt;BufcloseCloseIt()
   let l:currentBufNum = bufnr("%")
   let l:alternateBufNum = bufnr("#")

   if buflisted(l:alternateBufNum)
     buffer #
   else
     bnext
   endif

   if bufnr("%") == l:currentBufNum
     new
   endif

   if buflisted(l:currentBufNum)
     execute("bdelete! ".l:currentBufNum)
   endif
endfunction
  </textarea>
</section>
